@media(max-width:500px) and (min-width:300px){
    #sec div h1 {
        font-size: 40px;
    }
    .scoreboard{
        transform: scale(.7);
    }
    
}
@media(max-width:1000px) and (min-width:900px){
    .gamedivs{
        height: 120px;
    width: 120px;
    }
}
@media(max-width:900px) and (min-width:300px){
    .gamedivscontainer{
      
        height: 79%;
    }
    .gamedivs{
        height: 130px;
    width: 130px;
    }
    .letsstartw{
        font-size: 25px;
    }
    .togohome{
        transform: scale(.8);
        right: 10px;
        top: 10px;
    }
}
@media(max-width:600px) and (min-width:450px){
    .gamedivs{
        height: 100px;
    width: 100px;
    }
}
.letsstartw{
    font-size: 20px;
}
@media(max-width:450px) and (min-width:300px){
    .gamedivs{
        height: 110px;
    width: 110px;
    }
    .togohome{
        transform: scale(.5);
        right: 2px;
    }
    .gamedivscontainer{
      flex-direction: column;
    }
    .helpworddiv{
        width: 290px;
    }
}
@media(max-height:550px) and (min-height:300px){
.helpworddiv{
    height: 75vh;
    width: 500px;
    overflow-y: auto;
}
.gamedivs{
    height: 90px;
width: 120px;
}
}